.signInButton{
  display: flex;
  align-items: center;

  line-height: 4.2rem;
  border-radius: 48px;
  border: none;
  padding:  0 1rem;
  background-color: var(--gray-850);

  svg{
    width: 3.0rem;
    height: 3.0rem;
    background:var(--yellow-500);
    border-radius: 100%;
    padding:5px;

    path{
      color: #000
      }
  }

  span{
    margin-left: 1rem;
    font-size:1.6rem;
    font-weight:bold;
    color: var(--gray-100)
  }

}
