.container{
  width: 250px;
  height: 300px;
  border: 2px;
  border-style: solid;
  border-color: hsl(46, 95%, 80%);
}

.image{
  width: 256px;
  height: 173px;
}

.flag{
  margin-top: 1.5rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

